* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: tomato;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  width: 60%;
  text-align: center;
}

div p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 6pc;
  font-weight: bold;
}

p span {
  text-shadow: 0px 0px 0px rgba(30,30,30,100);
  animation: jumping 2s ease 1s infinite;
}

p span:nth-child(1) {
  animation-delay: 0s;
}

p span:nth-child(2) {
  animation-delay: 0.2s;
}

p span:nth-child(3) {
  animation-delay: 0.4s;
}

p span:nth-child(4) {
  animation-delay: 0.6s;
}

p span:nth-child(5) {
  animation-delay: 0.8s;
}

p span:nth-child(6) {
  animation-delay: 1s;
}

p span:nth-child(7) {
  animation-delay: 1.2s;
}

@keyframes jumping {
  30% {
    text-shadow: 2px 25px 5px rgba(50,50,50,50);
    transform: translate(-2px, -25px);
  }
}